* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #eeeeee;
}

header {
  height: 150px;
  background: linear-gradient(45deg, rgb(0, 255, 208), rgb(9, 255, 0));
  text-align: center;
  padding: 20px;
  font-size: 50px;
  line-height: 3;
  color: azure;
}

.wrapper {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
}

.card {
  background: #ffffff;
  width: 300px;
  padding: 24px;
  margin: 12px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Avatar */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 16px;
}
